<%- include("partials/header")-%>
<center><h1>The Cultivators</h1></center>
<div class="block">
    <div class="devCont">
        <img class="devImg" src="/images/my photo.png" alt="">
        <div class="name">Krishnay</div>
        <p>I am Krishnay.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, illo amet numquam repudiandae placeat quas possimus eos corporis beatae tempore unde animi dolore commodi modi voluptatum laboriosam exercitationem repellendus repellat. </p>
    </div>
    <div class="devCont">
        <img class="devImg" src="/images/Samarth Agrawal.jpeg" alt="">
        <div class="name">Samarth</div>
        <p>I am Samarth.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, illo amet numquam repudiandae placeat quas possimus eos corporis beatae tempore unde animi dolore commodi modi voluptatum laboriosam exercitationem repellendus repellat.</p>
    </div>
    <div class="devCont">
        <img class="devImg" src="/images/Anvay Raj.jpeg" alt="">
        <div class="name">Anvay</div>
        <p>I am Anvay.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, illo amet numquam repudiandae placeat quas possimus eos corporis beatae tempore unde animi dolore commodi modi voluptatum laboriosam exercitationem repellendus repellat.</p>
    </div>
</div>
<%- include("partials/footer") -%>
